.WarningText {
  text-align: center;
  padding-top: 2vh;
  font-size: 0.8em;
  font-weight:700
}

.WarningWrapper {
  background: #503718;
  color: #A78F6B;
  width: 90vw;
  margin-top: 2vh;
  border-radius: 1vw
}

.GoldButton {
  text-align: center;
  padding: 1vh 2vh;
  border: 1px solid #F3C31C;
}

.GoldButton:hover {
  background: #F3C31C;
  color: black;
}

.DeleteBTN {
  background: rgb(200, 0, 0, 0.5);
  cursor: pointer;
}

.DeleteBTN:hover {
  background: rgb(200, 0, 0, 1);
}

.MyText {
  color: black;
  background-color: #F3C31C;
  width: 60%;
  margin-left: 40%;
  padding: 1vh 2vh;
  border-radius: 5vw;
  margin-bottom: 1vh
}

.OtherText {
  color: white;
  background-color: #29303D;
  width: 60%;
  padding: 1vh 2vh;
  border-radius: 5vw;
  margin-bottom: 1vh
}

.IdBox {
  border: 2px solid #F3C31C;
  margin: 5vmin;
  font-size: 3em
}

* {
  font-family: Helvetica, Arial, sans-serif
}

.Underline {
  border-bottom: 5px solid transparent;
}

.Gold {
  border-color: #F3C31C
}

.Green {
  border-color: green;
}

.button {
  padding: 1vmin 2vmin;
  border-radius: 2vmin;
  font-weight: 900;
  font-size: 1.3em
}

.TextAndIcon {
  display: flex;
  align-items: center;
  gap: 1vw
}

.InputBox {
  display: grid;
}

.SingleAdWrap {
  border: 0.1vmin ridge #F3C31C;
  margin-top: 1vmin;
  background-color: #29303D;
  padding: 0.5vmin;

}

input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  /* or 6px */
  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  background-color: white;
  color: #333;
  width: 100%;
  /* Optional: full width */
  box-sizing: border-box;
}

input:focus {
  border-color: #007BFF;
  /* Blue focus border */
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
  /* Subtle glow */
}

input::placeholder {
  color: #aaa;
  opacity: 1;
  /* Ensures full opacity */
}

input.dark {
  background-color: #1e1e1e;
  color: #eee;
  border: 1px solid #444;
}

input.dark:focus {
  border-color: #66afe9;
  box-shadow: 0 0 0 3px rgba(102, 175, 233, 0.5);
}



.StarBox {
  background-color: #29303D;
  display: flex;
}

.NoStar {
  background-color: #29303D;
  ;
}

.AdWrapper {
  display: grid;
}

.Selected {
  border-bottom: 0.5vmin solid #F3C31C;
  padding-bottom: 0.5vmin;
}

.SelectedA {
  border-bottom: 0.5vmin solid red;
  padding-bottom: 0.5vmin;
}

.IconsPad {
  display: grid;

}

.IconsInnerOne {
  grid-template-columns: 20% 20% 20% 20%;
  color: white;
  padding-top: 1vh;
  gap: 6%;
  cursor: pointer;
}

.PagePad {
  background-color: black;

}

.MsgBox {
  position: fixed;
  left: 5%;
  width: 90%;

  margin-top: -10vh;
  z-index: 4;
  transition: margin-top 500ms linear;
}

.MsgText {
  color: white;
  padding: 1vh
}

.MsgTimer {
  width: 90%;
  border: 2px solid white;
  margin: 1vh 5%;
  transition: width 3s linear;
}

.White {
  color: white
}

.Black {
  color: black
}

.CusLink {
  text-decoration: none;
}

.FormWrapper {
  min-height: 50vh;
}

.BodyWrapperTwo {
  padding-left: 1vw;
  padding-right: 1vw;
}

.SideBySide {
  display: grid;
  grid-template-columns: 50% 50%;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Center {
  display: grid;
}

.Center.Vertically {
  align-items: center;
}

.Horizontally {
  justify-content: center;
}

.LandingA {
  background-color: black;
  height: 100vh;
  width: 50vw;
  overflow: hidden;
  position: relative;

}

.Earth {
  width: 10vw;
  height: 10vw;
}

.Orbit {
  border: 0.1vmin solid rgba(255, 255, 255, 0.1);
  position: absolute;
  border-radius: 50%;
  transition: border 0.3s ease;
}

.Tether {
  left: 68vw;
  top: -12vw;
  padding: 20vw;
  animation: animateT 10s linear infinite;
}

.Usd {
  left: 53vw;
  top: -28vw;
  padding: 35vw;
  animation: animateT 15s linear infinite;
}

.Yuan {
  left: 38vw;
  top: -43vw;
  padding: 50vw;
  animation: animateT 20s linear infinite;
}

.MainWrapper {
  display: grid;
}

.Eur {
  left: 26vw;
  top: -59vw;
  padding: 65vw;
  animation: animateT 25s linear infinite;
}


.CurrIcon {
  font-size: 6vw;
  color: #F3C31C;
  position: absolute;
  left: -3vw;
}

.TetherI {
  animation: animateTI 10s linear infinite;
}

.UsdI {
  animation: animateTI 15s linear infinite;
}

.YuanI {
  animation: animateTI 20s linear infinite;
}

.EurI {
  animation: animateTI 25s linear infinite;
}

.RatesImg {
  width: 70vw;
}


@keyframes animateT {
  0% {
    transform: rotateZ(0deg)
  }

  100% {
    transform: rotateZ(360deg)
  }
}

@keyframes animateTI {
  0% {
    transform: rotateZ(360deg)
  }

  100% {
    transform: rotateZ(0deg)
  }
}



@media screen and (max-width : 600px) {
  .LandingA {
    width: 100vw;
    height: 112vw;
  }

  .Earth {
    width: 20vw;
    height: 20vw;
  }

  .BodyWrapper {
    padding-top: 6vh;
  }

  .BodyWrapperTwo {
    padding-top: 9vh;
  }

  .FormWrapper {
    width: 90vw;
  }

  .PagePad {
    padding-top: 6vh;
  }

  .IconsInnerOne {
    font-size: 0.7em;
  }

  .SingleAdWrap {
    width: 95vw;
    height: 47vw;
  }

  .StarWrapper {
    font-size: 3.9vw;
  }

  .StarBox {
    gap: 5.1vw;
  }

  input.dark {
    font-size: 1.1em;
  }

  .InputBox {
    grid-template-rows: 35% 30% 35%
  }

  .IdBox {
    width: 80vw;
    height: 53vw;
  }

  .SelfieHelpText {
    display: none;
  }
}

@media screen and (max-width : 1024px) and (min-width: 601px) {
  .PagePad {
    padding-top: 4vh;
  }

  .BodyWrapper {
    padding-top: 3vh;
  }

  .LandingA {
    width: 100vw;
    height: 112vw;
  }

  .Earth {
    width: 20vw;
    height: 20vw;
  }

  .BodyWrapperTwo {
    padding-top: 5vh;
  }

  .FormWrapper {
    width: 60vw;
  }

  .AdWrapper {
    grid-template-columns: 50% 50%;
  }

  .SingleAdWrap {
    width: 45vw;
    height: 22vw;
  }

  .StarWrapper {
    font-size: 1.5vw;
  }

  .StarBox {
    gap: 2.63vw;
  }

  input.dark {

    font-size: 2em;
  }

  .InputBox {
    grid-template-columns: 40% 20% 40%
  }

  .IdBox {
    width: 70vw;
    height: 48vw;
  }

  .SelfieHelpText {
    display: none;
  }
}

@media screen and (min-width : 1025px) {
  .PagePad {
    padding-top: 7vh;
  }

  .BodyWrapper {
    padding-top: 4vh;
    background-color: black;
  }

  .BodyWrapperTwo {
    padding-top: 9vh;
  }

  .Tether {
    left: 34vw;
    top: -6vw;
    padding: 10vw;
  }

  /*

  .Tether {
    left: 30vw; 1.13
    top: -10vw; 0.76
    padding: 10vw;
  }

  */

  .Usd {
    left: 27vw;
    top: -13vw;
    padding: 17vw
  }

  .Yuan {
    left: 19vw;
    top: -21vw;
    padding: 25vw
  }


  .Eur {
    left: 9.3vw;
    top: -29vw;
    padding: 32vw
  }

  .CurrIcon {
    font-size: 3vw;
    left: -1.5vw
  }

  .MainWrapper {
    grid-template-columns: 50% 50%;
  }

  .RatesImg {
    width: 35vw;
  }

  .FormWrapper {
    width: 40vw;
  }

  .IconsPad {
    grid-template-columns: 50% 50%;
  }

  .AdWrapper {
    grid-template-columns: 33% 33% 33%;
  }

  .SingleAdWrap {
    width: 30vw;
    height: 15vw
  }

  .StarWrapper {
    font-size: 1vw;
  }

  .StarBox {
    gap: 1.5vw;
  }

  input.dark {
    font-size: 1.3em;
  }

  .InputBox {
    grid-template-columns: 45% 10% 45%
  }

  .IdBox {
    width: 50vw;
    height: 33vw;
  }

  .SelfieMain {
    display: none;
  }
}